<ion-header>
  <ion-toolbar>
    <ion-title>
      I KNOW YOU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="10" size-md="8" size-lg="7" size-lg="6" padding>
        <ion-item>
          <ion-label>Select customer</ion-label>
          <ionic-selectable
            [(ngModel)]="selectedCustomer"
            [items]="customerList"
            itemValueField="id"
            itemTextField="name"
            [canSearch]="true"
            (onChange)="searchCustomers($event)">
          </ionic-selectable>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>